
/* Text Editing -->*/
body{
    font-family: 'Montserrat', sans-serif;
}


.topsection span{
    font-size: 2.5rem;
    font-weight: 550;
}


h1{
font-weight: 600;
    font-size: 2.5rem;
}

h2{
    font-weight: 550;
        font-size: 1.7rem;
    }


h3{
    font-weight: 550;
        font-size: 1.3rem;
    }

p{
    font-size: 1rem;
}

.contacts p{
    font-size: 1.1rem;
    }


.jumbotron h1{
    color: white;
}

.about_jumbotron h1{
    color: white;
}

    
.about_jumbotron h1{
    color: white;
}


.topsection span{
color: #070751;
}

.jumbotron{  
    background-image: url("../images/rock_climbing.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 6%;
}

.quote{
color: green;
font-size: 1.3rem;
}

.blockquote-footer{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}




    .contact_jumbotron h1{
        color: white;
        }

.jumbotron p{
    color: white;
    }

.about_jumbotron{
    background-image: url("../images/About_us_Header.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }


        .services_jumbotron{
            background-image: url("../images/Services_Header.jpg");
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                }

                .contact_jumbotron{
                    background-image: url("../images/contact_header.jpg");
                    height: 350px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                        }


.nav-pills .nav-link.active{
background-color: #E5173A;
}

.nav {
    --bs-nav-link-color: #070751;
}

.dark_blue_bg{
    background-color: #070751;
}

.light_gray_bg{
    background-color: #e4e7eb;
}

.light_yellow_bg{
    background-color: #FEB95F;
}

.white_bg{
    background-color: white;;
}

.red_bg{
    background-color: #E5173A;
}


.icon_img{
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.btn-primary{
    --bs-btn-color: #070751;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #070751;
    --bs-btn-hover-bg: #070751;
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: white;
}

.quantee .btn-primary{
    --bs-btn-bg: white;
}


.service_card{
    width: 300px;
}

.card{
    --bs-card-bg: white;
    --bs-card-border-color: white;
}

.card-body p{
text-align:start;
}

.quantee h2{
    color: white;
}

.quantee h4{
    color: white;
}

.quantee p{
    color: white;
}

.about_main h3{
    color: white;
}

.underline{
    background-color: black;
    height: 1px;
    border: none;
}

.contacts_icon{
    border-radius: 50%;
}

.vision h3{
    color: white;
}

.vision p{
    color: white;
}

.value_cards{
    border-radius: 10px;
}

.services_main h3{
    color: white;
    background-color: #070751;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service_button{
    position:relative;
}

button_txt{
    position: absolute;
}


.home_services{
    background-image: url(../images/curved_white_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

